<div class="row">

  <%= render 'devise/shared/computer' %>

  <div class="position-relative col-lg-6">

    <%= render 'devise/shared/navbar'%>

    <div class="ms-4 mt-5 pt-5 d-flex flex-column justify-content-between mx-lg-5 px-lg-5">
      <h2 class="mt-5 mt-lg-3 pt-5 fw-lg-medium fw-semibold fs-lg-2 display-3 line-height-130 mb-3 mb-lg-5"><%= t('welcome') %></h2>
      <p class="m-0 letter-spacing-n1px line-height-130 fs-5"><%= t('complete_info') %><p>

      <div class="d-flex gap-2 mb-4">
        <p class="text-secondary fw-light"><%= t('have_account') %><p>
        <%= render 'devise/shared/links' %>
      </div>

      <%= render 'devise/shared/error_messages', resource: resource %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field mt-3 mt-lg-1">
          <%= f.label :name, t('form_fields.name'), class: 'fw-lg-normal fw-medium' %>
          <%= f.text_field :name, autofocus: true, class: 'border-0 border-bottom border-dark w-100 bg-transparent' %>
        </div>

        <div class="field mt-3">
          <%= f.label :surname, t('form_fields.surname'), class: 'fw-lg-normal fw-medium' %><br />
          <%= f.text_field :surname, class: 'border-0 border-bottom border-dark w-100 bg-transparent' %>
        </div>

        <div class="field mt-3">
          <%= f.label :email, t('form_fields.email'), class: 'fw-lg-normal fw-medium' %><br />
          <%= f.email_field :email, autocomplete: 'email', class: 'border-0 border-bottom border-dark w-100 bg-transparent' %>
        </div>

        <div class="field mt-3">
          <%= f.label :password, t('form_fields.password'), class: 'fw-lg-normal fw-medium' %><br />
          <%= f.password_field :password, autocomplete: 'new-password', class: 'border-0 border-bottom border-dark w-100 bg-transparent'%>
        </div>

        <div class="field mt-3">
          <%= f.label :company, t('form_fields.company'), class: 'fw-lg-normal fw-medium' %>
          <%= f.text_field :company, class: 'border-0 border-bottom border-dark w-100 shadow-none bg-transparent mb-2' %>
        </div>

        <div class="field mt-3">
          <%= f.label :position, t('form_fields.position'), class: 'fw-lg-normal fw-medium' %>
          <%= f.text_field :position, class: 'border-0 border-bottom border-dark w-100 shadow-none bg-transparent mb-2' %>
        </div>

        <div class="actions mb-5 d-flex justify-content-center w-100 mt-5">
          <%= f.submit t('form_fields.submit_sign_in'), class: 'text-light bg-primary-gradient border-0 rounded w-100 shadow py-lg-1' %>
        </div>
      <% end %>

      <%= render 'devise/shared/footer' %>

      <%= render 'devise/shared/help' %>

    </div>
  </div>
</div>
