<div class="mt-5 pt-5 d-none d-lg-flex flex-column">
    <div class="border-bottom border-info rounded w-100 d-flex m-0"></div>
    <div class="d-flex justify-content-between">
        <p class="fw-light text-info"><%= t('footer.copyright') %></p>
        <div class="d-flex gap-1 mt-1">
            <p class="fw-light text-info"><%= t('footer.powered_by') %></p>
            <div><%= image_tag('logo_eagerworks.png', alt: 'Logo eagerworks') %></div>
        </div>
        <div>
            <%= image_tag('linkedin_big', alt: 'Linkedin Logo') %>
            <%= image_tag('instagram_big', alt: 'Instagram Logo') %>
        </div>
    </div>
</div>
