 <div class="pt-2 d-flex bg-white pb-lg-4 fixed-top position-lg-static">
  <div class="mx-lg-5 px-lg-5 d-flex justify-content-between row w-100">
    <div class="mx-3 mx-lg-0 m-lg-0 col-lg-8 d-flex align-items-center justify-content-between">
      <div class="mt-5"><%= image_tag('planit_logo.png', alt: 'PlanIt logo') %></div>
      <div class="d-flex flex-column justify-content-center">
        <nav class="navbar navbar-expand-lg d-flex flex-column mt-5 mt-lg-0 p-0">
          <div class="">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Categories</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 pe-5 gap-xl-5 gap-2 ms-lg-5 mb-lg-4">
                  <% Category.all.each do |c| %>
                    <li class="nav-item">
                      <%= link_to c.name, c, class: "bg-primary-gradient text-transparent bg-clip-text pb-1 #{' border-primary-gradient' if current_page?(c) || current_page?(filter_order_category_path(c))}" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <form class="position-relative d-none d-lg-flex w-100">
          <input class="form-control rounded-4 w-100 text-center mx-3"  placeholder="&#x1F375; Food Box &nbsp; | &nbsp; $1.000 - $2.000" type="search">
          <button class="btn btn-custom-light-blue rounded-5 position-absolute end-0 top-0 px-2 py-1 me-3 mt-1 opacity-75">
            <i class="bi bi-search text-white"></i>
          </button>
        </form>
      </div>
    </div>
    <form class="position-relative d-flex d-lg-none mt-4 pb-4 pb-lg-0 ms-3">
      <input class="form-control rounded-5 w-100"  placeholder="&nbsp; &nbsp; &nbsp; Box de regalos" type="search">
      <button class="btn btn-custom-light-blue rounded-5 position-absolute start-25 ms-1 top-0 px-2 py-1 mt-1 opacity-75">
        <i class="bi bi-search text-white"></i>
      </button>
    </form>
    <div class="d-none d-lg-flex col justify-content-end align-items-center mt-5">
      <i class="bi bi-bell me-5"></i>
      <% if @user.photo.attached? %>
        <%= image_tag(@user.photo, class: 'img-fluid rounded-circle default-profile-picture me-3', alt: 'Profile picture') %>
      <% else %>
        <%= image_tag('default_profile_picture.jpeg', class: 'img-fluid rounded-circle default-profile-picture me-3', alt: 'Profile picture') %>
      <% end %>
      <div class="d-flex flex-column">
        <%= @user.name %>
        <%= @user.surname %>
        <p class="text-secondary m-0"><%= @user.position %></p>
      </div>
    </div>
  </div>
</div>
