<div class="d-none d-lg-flex flex-column col-lg-6 bg-primary-gradient position-relative">
  <div class="d-flex flex-column my-5 ms-5 ps-5">
    <div class="my-5 ms-4 pb-3"><%= image_tag('logo_secondary_big.png', alt: 'PlanIT logo') %></div>
    <h1 class="text-light mb-5 fw-semibold display-5 ms-4"><%= t('title.start') %><br> <%= t('title.simplify') %><br><%= t('title.actions') %><span class="text-primary"><%= t('title.here') %><span></h1>
    <p class="text-light letter-spacing-n1px line-height-130 fs-5 ms-4"><%= t('info.our_web') %><br> <%= t('info.find') %></p>
  </div>
  <div class="mt-5"><%= image_tag('computer.png', alt: 'computer') %></div>
</div>
