<div class="mx-lg-5 mt-5">
  <div class="d-flex justify-content-between">
    <p class="text-secondary"><%= t('order.subtotal') %></p>
    <p><%= "$ #{ order.subtotal }" %></p>
  </div>
  <div class="d-flex justify-content-between">
    <p class="text-secondary"><%= t('order.delivery_info.delivery_cost') %></p>
    <p><%= "$ #{ product.provider.delivery_cost }" %></p>
  </div>
  <div class="d-flex justify-content-between">
    <p class="text-secondary"><%= t('order.taxes') %></p>
    <p><%= "$ #{ order.taxes }" %></p>
  </div>
  <div class="d-flex justify-content-between fs-5 mt-2">
    <p><%= t('order.total') %></p>
    <p><%= "$ #{ order.total }" %></p>
  </div>
</div>
