<div class="mx-5 px-5 mt-3 d-flex justify-content-between row">
  <div class="col mt-5"><%= image_tag('planit_logo.png', alt: 'PlanIt logo') %></div>
  <div class="d-none d-lg-flex flex-column gap-2 justify-content-center col-5 align-content-center">
    <div class="d-flex gap-3 justify-content-center">
      <div>
        <%= link_to t('home.navbar.gifts'), root_path, class: 'bg-primary-gradient text-transparent bg-clip-text' %>
        <% if current_page?(root_path )%>
          <div class="bg-primary-gradient bg-clip-text">
            <p class="w-100 text-transparent border"></p>
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to t('home.navbar.catering'), catering_path, class: 'bg-primary-gradient text-transparent bg-clip-text' %>
        <% if current_page?(catering_path )%>
          <div class="bg-primary-gradient bg-clip-text">
            <p class="w-100 text-transparent border"></p>
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to t('home.navbar.merchandising'), merchandising_path, class: 'bg-primary-gradient text-transparent bg-clip-text' %>
         <% if current_page?(merchandising_path )%>
          <div class="bg-primary-gradient bg-clip-text">
            <p class="w-100 text-transparent border"></p>
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to t('home.navbar.events'), events_path, class: 'bg-primary-gradient text-transparent bg-clip-text' %>
        <% if current_page?(events_path )%>
          <div class="bg-primary-gradient bg-clip-text">
            <p class="w-100 text-transparent border"></p>
          </div>
        <% end %>
      </div>
    </div>
    <form class="position-relative">
      <input class="form-control rounded-4 w-100 text-center"  placeholder="&#x1F375; Food Box &nbsp; | &nbsp; $1.000 - $2.000" type="search">
      <button class="btn btn-success rounded-5 position-absolute end-0 top-0 px-2 py-1 me-1 mt-1 opacity-75">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
  <div class="d-none d-lg-flex col justify-content-end align-self-end">
    <i class="bi bi-bell me-3 mt-2"></i>
      <% if @user.photo.attached? %>
       <div class="border border rounded-circle px-3 py-2 me-2">
        <%= image_tag @user.photo %>
      </div>
      <% else %>
        <div class="border border rounded-circle px-3 py-2 me-2">
          <i class="bi bi-person-bounding-box"></i>
        </div>
      <% end %>
      <div class="mt-2">
        <%= @user.name %>
        <%= @user.surname %>
      </div>
  </div>
</div>
