<p><%= "#{t('hello')} #{@resource.email}" %>!</p>

<p><%= t('reset_password.request_link') %></p>

<p><%= link_to t('reset_password.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('reset_password.ignore') %></p>
<p><%= t('reset_password.conditions') %></p>
