<div class="d-flex mt-lg-5 mt-0 flex-column flex-lg-row justify-content-center    align-items-center" id="product-list">
  <p class="text-center d-flex d-lg-none justify-content-center mt-5 text-secondary"><%= @products.count %> resultados</p>
  <div class="d-flex w-100 mt-2 pt-5 mt-lg-0 pt-lg-0 row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5">
    <% @products.each do |p|%>
      <div class="col">
        <div class="bg-white rounded flex-column mb-3 position-relative">
          <%= image_tag p.image, class: 'img-fluid' if p.image.attached? %>
          <i class="bi bi-heart position-absolute text-white end-0 me-2 mt-1 heart"></i>
          <div class="mx-2 mt-2">
            <div class="d-flex justify-content-between">
              <div class="fs-6"><%= p.name %></div>
              <div class="bg-primary-gradient bg-clip-text text-transparent">
                <%= p.rating %>
                <%= image_tag('star.png', alt: 'rating logo') %>
              </div>
            </div>
            <div class="text-secondary"><%= p.supplier.name %></div>
              <p class="mt-2 mb-2 bg-primary-gradient bg-clip-text text-transparent fw-medium">$<%= p.price %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
