<div class="d-none d-lg-flex">
  <%= render 'categories/shared/navbar' %>
</div>
<div class="bg-custom-gray pt-lg-5 mt-lg-5 bg-lg-white">
  <% image_url = @product.image.attached? ? @product.image : 'no_product.jpeg' %>
  <%= image_tag(image_url, class: 'w-100 d-flex d-lg-none position-relative', alt: 'Product picture') %>
  <%= link_to category_path(@product.category.id), class: 'text-dark position-absolute top-0 text-white ms-3 mt-4' do %>
    <i class="bi bi-chevron-left"></i>
  <span><%= t('product_show.back')%></span>
  <% end %>
  <i class="text-white bi bi-heart heart position-absolute heart top-0 me-3 mt-4 end-0"></i>
  <div class="mx-lg-5 px-lg-5 mx-3">
    <div class="mt-lg-5 pt-5 pb-3 d-flex flex-column-reverse flex-lg-row row">
      <div class="col-lg-7">
        <div class="text-info d-none d-lg-flex"><%= "#{ @product.category.name } > #{ t('product_show.food_box') }" %></div>
        <% image_url = @product.image.attached? ? @product.image : 'no_product.jpeg' %>
        <%= image_tag(image_url, class: 'img-fluid h-50 w-100 rounded d-none d-lg-flex', alt: 'Product picture') %>
        <div class="d-none d-lg-flex flex-column">
          <h2 class="fw-normal mt-lg-5 mt-3"><%= t('product_show.description') %></h2>
          <p class="mt-lg-5 mt-3"><%= t('product_show.each') %> <strong><%= @product.name %></strong><span class="d-none d-lg-inline"> <%= "#{ t('product_show.the') } #{ @product.provider.name } #{ t('product_show.contains') } #{ t('product_show.products') }:" %>
          <p class-="mb-5"><%= @product.description %></p><br>
        </div>
      </div>
      <div class="d-flex flex-column ms-2 col-lg-4">
        <div class=" d-flex justify-content-between align-items-center">
          <p class="fs-3 mb-0 mt-3"><%= @product.provider.name %></p>
          <h4 class="d-none d-lg-flex"><i class="bi bi-heart heart"></i></h4>
        </div>
        <p class="bg-primary-gradient bg-clip-text text-transparent fs-3 p-0"><%= @product.name %></p>
        <div class="d-flex gap-lg-5 gap-3">
          <div class="d-flex gap-1">
            <div class=""><%= image_tag('star.png', alt: 'rating logo') %></div>
            <p class="bg-primary-gradient bg-clip-text text-transparent"><%= @product.rating%></p>
          </div>
          <p class="text-primary fw-light fs-12px"><%= t('product_show.see_califications') %></p>
        </div>
        <div class="d-flex flex-column d-lg-none">
          <h2 class="fw-normal mt-lg-5 mt-3"><%= t('product_show.description') %></h2>
          <p class="mt-lg-5 mt-3"><%= t('product_show.each') %> <%= @product.name %> <%= t('product_show.contains') %>:</p>
          <p class-="mb-5"><%= @product.description %></p><br>
        </div>
        <p class="d-inline d-lg-none text-transparent bg-clip-text bg-primary-gradient fs-5 pb-4"><%= '$' + @product.price.to_s + ' / ' + t('product_show.unit') %></p>
        <%= form_with(model: @order, url: new_order_path, local: true, method: :get) do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div data-controller="counter" data-productPrice="<%= @product.price %>">
            <div class="d-flex">
              <button type="button" class="bg-transparent rounded-start border border-dark" data-action="counter#decrement">-</button>
              <%= f.text_field :quantity, class: 'border border-dark bg-transparent text-center w-50px', value: 0, 'data-counter-target': 'quantity', readonly: true %>
              <button type="button" class="bg-transparent rounded-end border border-dark" data-action="counter#increment">+</button>
              <%= f.submit t('product_show.buy_sm'), class: 'text-light bg-primary-gradient border-0 rounded w-100 shadow py-lg-1 ms-5 d-lg-none'  %>
            </div>
            <div class="invalid-feedback d-block">
              <% @order.errors[:quantity].each do |message| %>
                <div><%= message %></div>
              <% end %>
            </div>
            <div class="d-none d-lg-flex flex-column">
              <h4 class="fw-normal mt-5 mb-3"><%= t('product_show.customize_box') %></h4>
                <% @additionals.each do |additional| %>
                  <div class="form-check form-switch mb-2 d-flex justify-content-start ms-3">
                    <h4>
                      <%= f.check_box :additional_ids, { multiple: true, class: 'form-check-input', role: 'switch', 'data-action': 'change->counter#updateTotal', 'data-counter-target': 'checkbox', 'data-price': additional.price }, additional.id, nil %>
                    </h4>
                    <label class="form-check-label d-flex flex-column mt-1 ms-3">
                      <p class="m-0"><%= additional.description %></p>
                      <% if additional.price == 0 %>
                        <p class="m-0 fs-12px fw-light"><%= t('product_show.no_additional_cost') %></p>
                      <% else %>
                        <p class="m-0 fs-12px fw-light"><%= '$' + additional.price.to_s + ' ' + t('product_show.additional') %></p>
                      <% end %>
                    </label>
                  </div>
                <% end %>
                <div class="mt-2">
                  <p class="text-secondary fw-light m-0"><%= t('product_show.more_customization') %></p>
                  <p class="fw-light text-primary"><%= t('product_show.executive') %></p>
                </div>
                <div class="d-flex justify-content-between d-none d-lg-flex mt-5 align-items-center">
                  <h3 class="m-0"><%= t('product_show.total') %></h3>
                  <div>
                    <span class="fs-3" data-counter-target="total">$0</span>
                    <span class="fs-5">+ <%= t('product_show.iva') %></span>
                  </div>
                </div>
                <div class="actions mt-5">
                  <%= f.submit t('product_show.buy'), class: 'text-light bg-primary-gradient border-0 rounded w-100 shadow py-lg-1' %>
                  <p class="text-primary text-center fw-light mt-3"><%= t('product_show.print_budget') %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= render 'categories/shared/footer' %>
      <%= render 'devise/shared/footer' %>
    </div>
  </div>
</div>
